$cookie: (
    background: #C69B7B,
    spots: #603601,
);

$cookieChocolate: (
    chocolate: #CC9544,
    spots: #361500,
);

$cookieVelvet: (
    velvet: #cc4444,
    spots: #e4d0d0,
    shadow: #D66A6A,
);

$upgrades: (
    background: whitesmoke,
);
